body{

    padding: 5px;
    font-style: initial;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin: 10;
    background-image: url('b.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;

}

@keyframes slide {
    from{margin-bottom: 0%;}
    to{margin: top 100%;}
    100%{transform: rotateZ(360deg);}
    0%{opacity: 0;}
    
}

@keyframes myopacity {
0%{opacity: 0;}
    
}
img{
    border-radius:  20%;
    animation: myopacity;
    animation-duration: 10s;

}

ul {
  list-style-position: inside;
  margin: 0;
  padding: 0;
}

ul li {
  margin-bottom: 4px; 
  color: #fffff;
}



.container {
    box-sizing: content-box;
    border: 1px solid;
    border-color: beige;
    margin:30px;
    text-align: center;
    color: #255a62 ;
    text-shadow: 0px 0px 1px whitesmoke;
    background-color:rgb;
    box-shadow: 0px 7px 2px brown;
    box-decoration-break:unset;
    border-radius: 5%;
    padding: 15px;
    animation: slide;
    animation-duration: 6s;
    animation-delay: 2s;

}

.Hobbies{
    padding: 350px;
    text-align: justify;
}




footer{
    background-color:#252525  ;
    padding: 20px;
    font-style: initial;
    font-family: 'Times New Roman', Times, serif;
    margin: 10;
    text-align: center;
    color: #CBD5E1;


}

a {
  color: #22D3EE;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  text-decoration: none;
}
